@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Backsteal';
  src: url('/public/Backsteal-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Verona';
  src: url('/public/Verona.otf') format('truetype');
}
@font-face {
  font-family: 'Purwatype';
  src: url('/public/PURWATYPE.otf') format('truetype');
}


/* // Add this style to your css file */
.sticky-nav {
     animation: sticky-nav 300ms;
}
    
@keyframes sticky-nav {
    0% {
        transform: translateY(-6em)
    }

    100% {
        transform: translateY(0)
    }
}